.card_produto {
    width: 250px;
    height: 500px;
    background-color: #FBFBFB;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10px;
    margin: 50px 50px;
    box-shadow: 0 4px 4px 2px #00000025;
    align-items: center;
    cursor: pointer;
}

.card_produto .nome {
    padding: 2px 40px;
    font-family: "Italiana", sans-serif;
    color: #7B3314;
}

.card_produto img {
    width: 150px;
    height: 200px;
}