.rodape {
    width: 100%;
    height: 25px;
    background-color: #7B3314;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer img {
    width: 100px;
    height: 100%;
}